.header__link {
  margin-right: 0;
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
  color: #FFFFFF;
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

