.popup__content{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 46px auto 0;
    gap: 30px;
}
@media screen and (max-width: 559px) {
    .popup__content {
        margin: 75px auto 0;
      }
  }