.popup__sure-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 430px;
    min-height: 181px;
    background: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}