.profile__button-avatar{
    margin: 0;
    padding: 0;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.profile__button-avatar:hover{
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../../../images/button-edit-avatar.svg');
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
}